body{
    font-family: 'Open Sans', sans-serif;
}
section {
    background-color: white;

}

.hero{
    background-color: #1c1d25;
    height:100vh;
    color: white;
    font-size:40px ;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav{
    display:flex;
    justify-content: space-between;
}
ul{
    display:flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size:  30px;
}


li{
    text-decoration:none ;
}

h1{
    font-size: 90px;
    margin: 0;
}

h2{
    font-size: 50px;
}

p{
    margin:0;
    font-size: 30px ;
    font-weight: 300;
}

.subtext{
    font-size: 15px;
    font-weight: 300;
}

.heroarea{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}

.button{
    width:200px;
    height:55px;
    border-radius: 30px;
    background-color: goldenrod;
    text-align: center;
    font-size: 30px ;
    font-weight: 300;
    padding-top: 10px;
    margin-top: 20px;
}

.button:hover{
    background-color: gold;
}
.button:active{
    background-color: slategray;
    color: black;
}

.socials{
    padding-bottom: 200px;
}

.logo{
    height: 80px;
    margin: 30px;
}

.social-apps{
    margin: 20px;
}

.sub-section{
    display: flex;
    justify-content: space-around;
    padding:80px;

}

.sub-section-alternative{
   display: flex;
   flex-direction: column;
   text-align: center; 
   padding: 80px;
}

.headshot{
    border: #2e303d;
    height: 60%;
    width: 20%;
    position: absolute;
    right: 10%;
}

.headshot-container{
    display: flex;
    align-items: center;
    max-width: 50%;
    padding-left: 50%;
}

.project-card{
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(121, 107, 82);
    margin:10px;
}

.project-container{
    display: flex;
    justify-content: space-around;
}


@media only screen and (max-width:1000px){
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image{
    margin: 25px;
    width:250px;
    border-radius: 125px;
}

hr{
    margin-left: 20px;
    margin-right: 20px;
}

.project-link{
    text-decoration:none;
    color: goldenrod;
}

a{
    text-decoration: none;
    color: white;
}

.hambaga{
    display:none;
}

.hambaga:focus{
    outline:0;
}



@media only screen and (max-width: 1000px){
    .hambaga{
        display: block;
        border: block;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul{
        display: none;
        background-color: #2e303d ;
        margin: 0px;
    }


    ul.show{
        display:block;
    }

    nav{
        display: flex ;
        flex-direction: column-reverse;
        background-color: #2e303d ;
    }

    .logo{
        display: none;
    }
}

.information{
    max-width: 50%;
    padding-right: 50%;
}

.Experience-titles{
    display: inline-block;
    color: black;
    font-weight: 500;
    padding: .25em 0;
    background: goldenrod;
}